.io-tile{
  float: left;
  text-align: center;
  padding: 10px;
}

.io-tile img{
  cursor: pointer;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
